<div id="content">
  <p id="notice"><%= notice %></p>

  <p>
   <b> nombre:</b>
   <%= @category. name %>
  </p>

  <% unless @products.empty? %>
    <div class="products">
      <div class="cl">&nbsp;</div>
      <ul>
        <%= render :partial => "products/index", :collection => @products %>
      </ul>
      <div class="cl">&nbsp;</div>
      </br></br>
    </div>
  <% end %>
</div>
<!-- End Content -->

<!-- Buscador y categorias -->
<%= render :partial => 'store/nav_left', :local => @categories %>
    
<div class="cl">&nbsp;</div>
