 <!-- Main -->
  <div id="main">
    
    <!-- Content -->
    <div id="content">  
      
      <!-- End Content Slider -->
      
      <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
          <%= render :partial => 'index' %>
          
        </ul>
        
        <div class="cl">&nbsp;</div>
        </br></br>
        
      </div>
      <!-- End Products -->
                        
    </div>
    <!-- End Content -->
    
    <!-- Buscador -->
    <%= render :partial => 'store/nav_left' %>
    
    <div class="cl">&nbsp;</div>
  </div>
  <!-- End Main -->	
  