<!-- Content -->
<div id="content">  
    <div class="products">
      <div class="cl">&nbsp;</div>
      <ul>
        <%= render :partial => 'index' %>
      </ul>
      <div class="cl">&nbsp;</div>
      </br></br>
        <%= link_to 'New product', new_product_path %>
    </div>
</div>
<!-- Buscador y categorias -->
<%= render :partial => 'store/nav_left' %>