<div class="products">
    <div class="cl">&nbsp;</div>
    <ul>
      <%= render :partial => 'index' %>
    </ul>
  <div class="cl">&nbsp;</div>
  </br></br>
  <%= will_paginate @products %>
  <%= link_to 'New product', new_product_path %>

</div>
