<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag(@product.picture_url) if @product.picture.present? %>
</p>

<p>
  <b>Sale price:</b>
  <%= @product.sale_price %>
</p>