<div id="navigation">
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">The Store</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>