<!-- Sidebar -->
<div id="sidebar">
  <!-- Search -->
  <div class="box search">
    <h2>Search by <span></span></h2>
    <div class="box-content">
            FORM SEARCH         
    </div>
    <!-- End box-content -->
         
  </div>
  <!-- End box search -->
     
  <!-- Categories -->
  <div class="box categories">
    <h2>Categorias <span></span></h2>
    <div class="box-content">
      <%= render :partial => 'categories/index' %>
           
    </div>
         <!-- End box-content -->
  </div>
      
</div>
<!-- End Sidebar -->