 <!-- Content Slider Foto local-->
  <div id="slider" class="box">
    <div id="slider-holder">
        <ul>
          <li><a href="#"><img src="/assets/slide1.jpg" alt="" /></a></li>
	  <li><a href="#"><img src="/assets/slide1.jpg" alt="" /></a></li>
	  <li><a href="#"><img src="/assets/slide1.jpg" alt="" /></a></li>
	  <li><a href="#"><img src="/assets/slide1.jpg" alt="" /></a></li>
    </ul>
  </div>
        <!-- End slider-holder -->
        
  <div id="slider-nav">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
  </div>
  <!-- End slider-nav -->