 <div id="content">  
      <!-- slider-nav -->
        <%= render :partial => 'slider' %>
      
       <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
          <%= render :partial => 'products/index' %>
        </ul>
        <div class="cl">&nbsp;</div>
        </br></br>
      
      </div>
      <!-- End Products -->
                        
  </div>
  <!-- End Content -->
    
  <!-- Buscador y categorias -->
  <%= render :partial => 'nav_left' %>
    
  <div class="cl">&nbsp;</div>
	
  