 <!-- Main -->
  <div id="main">
    
    <!-- Content -->
    <div id="content">  
      <!-- slider-nav -->
        <%= render :partial => 'slider' %>
      
      </div>
      <!-- End Content Slider -->
      
      <!-- Products -->
      <div class="products">
        <div class="cl">&nbsp;</div>
        <ul>
          <%= render :partial => 'products/index' %>
          
        </ul>
        
        <div class="cl">&nbsp;</div>
        </br></br>
        <%= will_paginate @products %>
      </div>
      <!-- End Products -->
                        
    </div>
    <!-- End Content -->
    
    <!-- Buscador -->
    <%= render :partial => 'nav_left' %>
    
    <div class="cl">&nbsp;</div>
  </div>
  <!-- End Main -->	
  